<div class="container card p-3 mt-3">
  <h3>Upload Lab Test (OCR)</h3>

  <label>Batch ID</label>
  <input type="number" class="form-control" [(ngModel)]="batchId">

  <label class="mt-2">Chọn File</label>
  <input type="file" class="form-control" (change)="onSelect($event)">

  <img *ngIf="preview" [src]="preview" class="img-fluid mt-3" />

  <button class="btn btn-success mt-3" (click)="upload()" [disabled]="loading">
    {{ loading ? "Đang xử lý…" : "Upload & OCR" }}
  </button>

  <div *ngIf="ocrText" class="mt-3">
    <h5>Kết quả OCR</h5>
    <textarea class="form-control" rows="8">{{ ocrText }}</textarea>
  </div>

  <div *ngIf="hash" class="mt-2">
    <strong>Blockchain hash:</strong> <code>{{hash}}</code>
  </div>
</div>
